{% extends "picker/nfl/base.html" %}
{% block title %}NFL Weekly Picker Home{% endblock %}
{% block main_content %}
    <div{% if poll %} class="span-16"{% endif %}>
    <h3>Latest NFL News </h3>
    <ul class="fa-ul"> {% for dt,title,link,summary in feed %}
         <li><i class="fa-li fa fa-rss"></i>
             <a target="_blank" href="{{ link }}"><strong>{{ title }}</strong></a> &ndash;
             <em>{{ dt|date:"M jS"}}</em>
             <p>{{ summary }}</p>
         </li> {% endfor %}
    </ul>
    </div>

    {% if poll %}
    <div class="span-8 last">
        <div class="poll">
            <h4>Poll</h4>
            <h5>{{ poll.question }}</h5>
            {% if form %}
            <form action="" method="post" accept-charset="utf-8">
                <ul class="form-list">
                    {{ form.as_ul }}
                </ul>
                <p><input type="submit" value="Submit" /></p>
            </form>
            {% else %}
            <p><em>{{ poll.voters.count }} responses:</em></p>
            <ul>
                {% for choice in poll.choice_set.all %}
                <li class="{% cycle 'odd' 'even' %}">
                    {{ choice }} <em>({{ choice.votes }}, {{ choice.percent }}%)</em><br />
                    <div class="poll-pct" style="height: 8px;width:{{ choice.percent }}px"></div>
                </li>    
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock main_content %}