{% if score_strip %}
    {% for game in score_strip.games %}
    <div class="gamescore {% cycle 'odd' 'even' %}">
        <table>
            <tr><th {% if game.pos == game.away %}class="bold"{% endif %}>{{ game.away }}</th><td>{{ game.away_score }}</td></tr>
            <tr><th {% if game.pos == game.home %}class="bold"{% endif %}{% if game.pos == game.away %}&bull;{% endif %}>{{ game.home }}</th><td>{{ game.home_score }}</td></tr>
            <tr><td colspan="2" class="time">
                <a href="{{ game.url }}" target="_blank">
                    {% if game.status == 'Pending' %}{{ game.day }} {{ game.time }}{% else %}
                    {{ game.status }}{% if game.clock %} {{ game.clock }}{% endif %} {% endif %}
                </a>
            </td></tr>
        </table>
    </div>
    {% endfor %}
{% else %}
    <p>Unable to load score strip</p>
{% endif %}
