{% extends "picker/nfl/base.html" %}
{% block title %}Roster Profile{% endblock %}
{% block extra_head %}
    <style type="text/css" media="screen">
        h3 img { vertical-align: middle; float: left; margin-right: .5em; }
        h3 span { font-size: .75em; }
        .roster td, .roster th { text-align: center; }
        .roster tr.last td { font-weight: bold; }
    </style>
{% endblock extra_head %}
{% block fav_team %}team-{{ profile.picker_preferences.favorite_team.abbr|default:"ne"|lower }}{% endblock fav_team %}
{% block main_content %}
<h3 class="clearfix">
    <img class="top" src="{{ profile.user|picker_user_image }}" />
    <em>{{ profile }}</em><br />
    <span>Since {{ profile.date_joined|date:"M j, Y" }}</span>
</h3>
<p class="home-team-choice">
    {% with profile.picker_preferences.favorite_team as team %}
    <img style="width: 62px; height: 47px" src="{{ team.image_url }}" />
    <a href="{{ team.get_absolute_url }}">{{ team }}</a>
    {% endwith %}
</p>

<table class="roster">
    <thead>
        <tr>
            <th>Season</th>
            <th>Place</th>
            <th>Wks Played</th>
            <th>Wks Won</th>
            <th>Good</th>
            <th>Bad</th>
            <th>%</th>
            <th>&plusmn;Pts</th>
            <th>&plusmn;avg</th>
        </tr>
    </thead>
    
    <tbody> {% for entry in stats %}
        <tr class="{% cycle 'odd' 'even' %}{% if forloop.last %} last{% endif %}">
            <td>{{ entry.season|default:"Totals" }}</td>
            <td></td>
            <td>{{ entry.weeks_played }}</td>
            <td>
                {% with entry.weeks_won as weeks_won %}
                {{ weeks_won|length }}{% if weeks_won and entry.season %} ( 
                {% for w in weeks_won %}
                <a href="{{ w.get_absolute_url }}">
                    #{{ w.week }}</a>{% if not forloop.last  %}, {% endif %}
                {% endfor %})
                {% endif %}
                {% endwith %} 
            </td>
            <td>{{ entry.correct }}</td>
            <td>{{ entry.wrong }}</td>
            <td>{{ entry.pct|floatformat:"1" }}%</td>
            <td>{{ entry.points_delta}}</td>
            <td>{{ entry.avg_points_delta|floatformat }}</td>
        </tr> {% endfor %}
    </tbody>
</table>
{% endblock %}
