{% extends league_base %}
{% load picker_tags %}
{% block title %}Weekly picks - {{ season }}{% endblock %}
{% block main_content %}
    <h1>{{ season }} Picks &ndash; Select a week</h1>
    {% all_seasons_nav season league "picks" %}
    <div class="list-group">
    {% for gameset,pick in gamesets %}
        <a class="list-group-item" href="{{ gameset.picks_url }}">Week {{ gameset.sequence }}
        {% if gameset.is_open %}
        {% if pick %}&ndash;
        {{ pick.is_complete|yesno:"complete,pending" }}{% else %}
        {% endif %}
        {% else %}&ndash; {{ pick|yesno:"played,missed"}}{% endif %}
        </a>
    {% endfor %}
</div>
{% endblock %}
