{% extends league_base %}
{% block title %}Manage Weekly Results - {{ season }}
{% load picker_tags %}
{% endblock %}
{% block main_content %}
    <h1>Manage {{ season }} &ndash; Select a week</h1>
    {% all_seasons_nav season league "manage" %}
    <ul>
    {% for gameset in gamesets %}
        <li>
            <a href="./{{ gameset.sequence }}/">Week {{ gameset.sequence }}</a>
            {% if gameset.points %}&ndash; complete{% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
