{% extends league_base %}
{% load picker_tags %}
{% block title %}Roster Profile{% endblock %}
{% favorite_team profile.user as fav %}
{% block fav_team %}team-{{ fav.abbr|default:"none"|lower }}{% endblock fav_team %}
{% block main_content %}
<div class="media">
    <div class="media-body">
        <h1>{{ profile.user.username }}</h1>
        <p>
            Since {{ profile.user.date_joined|date:"M j, Y" }}
        </p>
    </div>
</div>

{% if fav %}
<p class="home-team-choice">
    {% if fav.logo %}<img style="width: 62px; height: 47px" src="{{ fav.logo.url }}">{% endif %}
    <a href="{{ fav.get_absolute_url }}">{{ fav }}</a>
</p>
{% endif %}
<table class="table table-striped roster">
<thead>
    <tr>
        <th>Season</th>
        <th>Weeks Played</th>
        <th>Weeks Won</th>
        <th>Good</th>
        <th>Bad</th>
        <th>%</th>
        <th>&plusmn;Pts</th>
        <th>&plusmn;avg</th>
    </tr>
</thead>
<tbody>{% for entry in stats %}{% if entry.picksets_played %}
    <tr>
        <td>{{ entry.season|default:"Totals" }}</td>
        <td>{{ entry.picksets_played }}</td>
        <td>{{ entry.picksets_won }}</td>
        <td>{{ entry.correct }}</td>
        <td>{{ entry.wrong }}</td>
        <td>{{ entry.pct|floatformat:"1" }}%</td>
        <td>{{ entry.points_delta}}</td>
        <td>{{ entry.avg_points_delta|floatformat }}</td>
    </tr>{% endif %}{% endfor %}
</tbody>
</table>
{% endblock %}
