{% extends league_base %}{% load static picker_tags %}
{% block title %}Roster{% endblock %}
{% block main_content %}
    <h1>Roster and Season Standings &mdash; {{ group }} {{ season }}</h1>
    {% all_seasons_nav season league "roster" %}
    <div class="panel panel-default">
        <table class="table table-striped table-hover roster">
        <thead>
            <tr>
                <th>Player</th>
                <th><strong><abbr data-toggle="tooltip" title="{{ season }} ranking">{{ season }}</abbr></strong></th>
                <th><abbr data-toggle="tooltip" title="{{ season }} Weeks played and won">Wks / Won</abbr></th>
                <th><abbr data-toggle="tooltip" title="{{ season }} Win-Loss">W-L</abbr></th>
                <th><abbr data-toggle="tooltip" title="{{ season }} Percentage correct">%</abbr></th>
                <th><abbr data-toggle="tooltip" title="{{ season }} Total difference in final points">&plusmn; Pts (avg)</abbr></th>

                <th><abbr data-toggle="tooltip" title="All time win-loss picks">W-L</abbr></th>
                <th><abbr data-toggle="tooltip" title="All time percentage correct">%</abbr></th>
                <th><abbr data-toggle="tooltip" title="All time total difference in final points">&plusmn; Pts (avg)</abbr></th>
                <th><abbr data-toggle="tooltip" title="All time weeks played and won">Wks / Won</abbr></th>
                <th><strong><abbr data-toggle="tooltip" title="All time ranking">All</abbr></strong></th>
            </tr>
            <tr>
                <td></td>
                <td colspan="5"><strong>{{ season }}</strong></td>
                <td class="all-time" colspan="5"><strong>All Time</strong></td>
            </tr>
        </thead>
        <tbody>
            {% for entry,all_time_stats in roster %}{% if entry.is_active %}
            <tr>
                <td class="player">
                    <div>
                        <strong>
                            <a href="{% url 'picker-roster-profile' league.slug group.id entry.user.username %}">
                                {{ entry.user.username }}</a></strong> <br />
                        {% favorite_team entry.user as team %}
                        {% if team %}
                        <a class="fav_team" href="{{ team.get_absolute_url }}">{{ team }}</a>
                        {% endif %}
                    </div>
                </td>
                <td>{{ entry.place }}</td>
                <td>{{ entry.picksets_played }} / {{ entry.picksets_won }}</td>
                <td>{{ entry.correct }}-{{ entry.wrong }}</td>
                <td>{{ entry.pct|floatformat:"1" }}%</td>
                <td>{{ entry.points_delta}} ({{ entry.avg_points_delta|floatformat }})</td>

                <td class="all-time"><strong>{{ all_time_stats.correct }}-{{ all_time_stats.wrong }}</strong></td>
                <td class="all-time">{{ all_time_stats.pct|floatformat:"1" }}%</td>
                <td class="all-time">{{ all_time_stats.points_delta}} ({{ all_time_stats.avg_points_delta|floatformat }})</td>
                <td class="all-time">{{ all_time_stats.picksets_played }} / {{ all_time_stats.picksets_won }}</td>
                <td class="all-time{% if all_time_stats.place < 4 %} top-3{% endif %}">{{ all_time_stats.place }}</td>
            </tr>{% endif %}{% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}
