{% extends league_base %}
{% block title %}NFL {{ season }}{% endblock %}
{% block main_content %}
<h1>{{ league }} {{ season }} Schedule</h1>
<nav>
    <ul class="pagination pagination-sm">
        <li class="page-item disabled"><a class="page-link" href="#">Weeks:</a></li>{% for gs,games in gamesets %}
        <li class="page-item">
            <a class="page-link" href="#week-{{ gs.sequence }}">{{ gs.sequence }}</a>
        </li> {% endfor %}
    </ul>
</nav>
{% for gameset,games in gamesets %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title" id="week-{{ gameset.sequence }}">Week {{ gameset.sequence }}</h2>
    </div>
    {% if gameset.byes.count %}
    <div class="panel-body">
        <p class="team-byes">
            <span class="label label-default">Byes</span>
            {{ gameset.byes.all|join:", "}}
        </p>
    </div>
    {% endif %}
    <table class="table table-striped season-listing">
    <tbody>
        <tr>
            <th>Kickoff</th>
            <th>Away</th>
            <th>Home</th>
            <th>Location</th>
            <th class="text-right">TV</th>
        </tr>
        {% for game in games %}
        <tr>
            <td>{{ game.start_time|date:"D M j, g:i a" }}</td>
            <td class="{% if game.is_away_win %}winner{% else %}{% if game.is_tie %}tie-game{% endif %} {% endif %}"><a href="{% url 'picker-team' league.slug game.away.abbr %}">{{ game.away }}</a></td>
            <td class="{% if game.is_home_win %}winner{% else %}{% if game.is_tie %}tie-game{% endif %} {% endif %}"><a href="{% url 'picker-team' league.slug game.home.abbr %}">{{ game.home }}</a></td>
            <td>{{ game.location }}</td>
            <td class="text-right">{{ game.tv }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endfor %}
{% endblock %}
