.picks ul { list-style-type: none; padding: 0; margin: 0; }
.picks .location { font-style: italic; }
.picks { margin-bottom: 0; }
.roster-separator { border-left: 2px solid #ddd;}

.pagination.manage > .active > a {
    background: #d9534f;
    border-color: #d9534f;
    color: #fff;
}

table.picks > tbody > tr > td { vertical-align: middle; }

table.picks .teams label {
    margin: 0 .5em;
}
table.picks .teams label input {
    display:inline-block;
}
table.picks .teams label > div {
    display: inline-block;
    text-align: center;
    width: 200px;
}
table.picks .teams label > div .record { display: block; }
.team-listing .team-logo, .team-info img { height: 80px; }
