{% extends league_base %}
{% load picker_tags %}
{% block title %}Picks{% endblock %}
{% block main_content %}
    {% load bootstrap3 %}
    <h1>
        Week #{{ week.week }}
        <small><a href="{% url 'picker-season-picks' week.league.abbr.lower week.season %}">{{ week.season }}</a></small>
    </h1>
    {% having week.byes.all as byes %}
    <p><strong>Byes:</strong> {{ byes|join:", " }}</p>
    {% endhaving %}
    {% season_nav week "picks" %}
    {% if form.errors %}
    <p class="errorlist">Please fix the errors below:</p>
    {% endif %}
    <div class="panel panel-primary">
        <div class="panel-heading">Your weekly picks</div>
        <form method="post" action="">{% csrf_token %}
        <table class="table table-striped picks">
            <tbody>
            <tr>
                <th class="kickoff">Kickoff</th>
                <th class="teams">Away vs. Home</th>
                <th class="tv">TV</th>
            </tr> {% for field in form.game_fields %}{% with field.field.game as gm %}
            <tr>
                <td class="kickoff">
                    <span class="date-day">{{ gm.kickoff|date:"M jS, Y"}}</span>
                    <span class="date-weekday">{{ gm.kickoff|date:"D, P" }}</span>
                    {% if gm.location %}<br>
                    <span class="location">{{ gm.location }}</span>{% endif %}
                </td>
                <td class="{% if field.field.disabled %}disabled-choice {% endif %}teams">
                    {{ field }}
                </td>
                <td class="tv">{{ gm.tv|default:"" }}</td>
            </tr>{% endwith %}{% endfor %}
            <tr>{% with form.points as field %}
                <td><strong>Points Total</strong><br></td>
                <td>
                    {% if field.errors %}{{ field.errors }}<br>{% endif %}
                    {% bootstrap_field field %}
                    {% if week.is_open %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                    {% endbuttons %}
                    {% endif %}
                </td>
                <td></td>
            {% endwith %}</tr>
            </tbody>
        </table>
        </form>
    </div>

{% endblock %}
