{% extends "picker/nfl/base.html" %}
{% block title %}Game picks{% endblock %}
{% block main_content %}
    <div class="span-20  last">
    <h1>Playoffs, {{ week.season }}</h1>
    <h2>Kickoff: {{ week.kickoff|date:"D, F jS, P" }}</h2>
    {% season_nav week "picks" %}

    {% if form.errors %}
    <p class="errorlist">Please fix the errors below:</p>    
    {% endif %}
    <form method="post" action="">
        <table id="wk1">
        <thead>
            <tr>
                <th colspan="2">Wildcard Games</th>
            </tr>
        </thead>
        <tbody></tbody>
        </table>
        
        <table id="wk2">
        <thead>
            <tr>
                <th colspan="2">Divisional Games</th>
            </tr>
        </thead>
        <tbody></tbody>
        </table>
        
        <table id="wk3">
        <thead>
            <tr>
                <th colspan="2">Conference Championships</th>
            </tr>
        </thead>
        <tbody></tbody>
        </table>
        
        <table id="wk4">
        <thead>
            <tr>
                <th colspan="2">Super Bowl</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <td colspan="2" class="center">
                    Total Points in Super Bowl:
                    <input name="points" id="points" />
                </td>
            </tr>
        </tfoot>
        </table>
        <p class="text-center">
            <input value="Save" type="submit" id="submit" />
        </p>
        
    </form>
    
    </div>
{% endblock %}
{% block extra_body %}{{ block.super }}
    <script>
        Playoffs.init(
            {{ teams|safe }},
            {{ NFC|safe }},
            {{ AFC|safe }},
            {{ picks|safe }}
        );
    </script>

{% endblock extra_body %}