{% extends league_base %}
{% block main_content %}
    <h1>{{ league }} Home</h1>
    <p>
        Select an option from the menu above.
    </p>
    <p class="text-danger">
        <em><strong>Time frozen as {{ now }}</strong></em>
    </p>
    {% if not user.is_authenticated %}
    <p>
        You can sign in as an admin using <code>demo</code> as both username and password,
        or as standard user using <code>user1</code>, <code>user2</code>, ...
        <code>user9</code> as username and password.
    </p>
    {% endif %}
{% endblock main_content %}
