{% extends league_base %}
{% block main_content %}
    <h1>{{ league }} Home</h1>
    <div class="list-group">
        <a href="{% url 'picker-picks' league=league.lower %}" class="list-group-item">Picks</a>
        <a href="{% url 'picker-results' league=league.lower %}" class="list-group-item">Results</a>
        <a href="{% url 'picker-roster' league=league.lower %}" class="list-group-item">Standings</a>
        <a href="{% url 'picker-teams' league=league.lower %}" class="list-group-item">Teams</a>
        <a href="{% url 'picker-schedule' league=league.lower %}" class="list-group-item">Schedule</a>
    </div>
{% endblock main_content %}