{% extends league_base %}
{% block title %}Teams{% endblock %}
{% block main_content %}
    <h1>{{ league }} Teams</h1>
    <div class="panel panel-default">
        <table class="table table-striped team-listing">
        <thead>
            <tr>
                <th>Team</th>
                <th>Record</th>
                <th>Conference</th>
                <th>Division</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams  %}
            <tr>
                <td>
                    {% if team.logo %}<img class="team-logo" src="{{ team.logo.url }}">{% endif %}
                    <a href="{{ team.get_absolute_url }}">{{ team }}</a>
                </td>
                <td class="center">{{ team.record_as_string }}</td>
                <td class="center">{{ team.conference }}</td>
                <td class="center">{{ team.division }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>


{% endblock %}
