{% extends "base.html" %}{% load django_bootstrap5 %}
{% block main_content %}
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Login</h1>
            </div>
            <div class="panel-body">
                <form action="" method="post" role="form" >
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">Log In</button>
                    {% endbuttons %}
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
        </div>
    </div>
{% endblock main_content %}
