<label class="team-choice {{ home_away }}" for="{{ choice_id }}">
    <input type="radio" id="{{ choice_id }}" {{ readonly }} {{ disabled }} value="{{ value }}" name="{{ name }}" {{ checked }}>
    <div class="team-info team-{{ team.abbr.lower }}"{% if team.logo %} style="background-image: url({{ team.logo.url }});"{% endif %}>
        <span class="name">{{ team.name }}</span>
        <span class="nickname">{{ team.nickname }}</span>
        <span class="record">{{ team.record_as_string }}</span>
    </div>
</label>