<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Picker Demo{% endblock title %}</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap-theme.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <p class="h1"><a href="/">Picker Demo</a></p>
        </div>
    </div>
    <div class="container">
    {% block nav %}
        <div class="text-right">
            {% if user.is_authenticated %}<a href="{% url 'logout' %}?next=/">Logout</a>
            {% else %}<a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    {% endblock nav %}
    </div>
    <div class="container">
        {% load bootstrap3 %}
        {% bootstrap_messages %}
    </div>
    <div class="container">
        {% block main_content %}{% endblock main_content %}
    </div>
    <!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script -->
    <!-- script src="js/bootstrap.min.js"></script -->
    <hr>
    <footer class="text-center">
        <a href="https://github.com/dakrauth/picker">Django-picker</a> demo
    </footer>
    {% block extra_body %}{% endblock extra_body %}
 </body>
</html>