<label class="text-center team-choice {{ home_away }}" for="{{ choice_id }}" >
    <div class="team-info team-{{ team.abbr.lower }}">
        {% if team.logo %}
        <img class="img-thumbnail" src="{{ team.logo.url }}"><br>
        {% endif %}
        <span class="market">{{ team.name }}</span><br>
        <span class="nickname">{{ team.nickname }}</span><br>
        <span class="record">{{ team.record_as_string }}</span>
        <input type="radio"
            id="{{ choice_id }}"
            {{ readonly }}
            {{ disabled }}
            value="{{ value }}"
            name="{{ name }}"
            {{ checked }}>

    </div>
</label>
